#container {
    text-align: center;
    width: 33%;
    margin: auto;
    border: 3px solid rgb(93, 166, 240);
    border-radius: 10px;
    box-shadow:  5px 10px rgb(154, 194, 240);
    padding: 10px;
    
}

#welcome {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
}

.table {
    border: solid 2px black;
}

tr, th {
    text-align: center;
}

input {
    width: 60%;
}