#container {
    text-align: center;
    width: 33%;
    margin: auto;
    border: 3px solid rgb(93, 166, 240);
    border-radius: 10px;
    box-shadow:  5px 10px rgb(154, 194, 240);
    padding: 10px;
    
}

#welcome {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
}

.table {
    border: solid 2px black;
}

tr, th {
    text-align: center;
}

input {
    width: 60%;
    border-radius: 5px;
}

#delBtn {
    border-radius: 5px;
<<<<<<< HEAD
    margin-right: 5px;
=======
    margin-right: 10px;

>>>>>>> 65dabd946fb4588a038da6dbe725db4b51837f0e
}

#editBtn {
    border-radius: 5px;
}


